:root {
    font-size: 62.5%;
  }
  
  .content {
    width: 60%;
    box-shadow: 0 0 3rem rgba(0,0,0,0.2);
    display: flex;
    border-radius: 0.6rem;
  }
  
  .content .logobox {
    background: rgb(63, 118, 181);
    width: 40%;
    text-align: center;
    color: white;
    border-bottom-left-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
  }
  
  .content .logobox .appname {
    font-size: 3rem;
    line-height: 60vh;
  }
  .appdesc {
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
  }
  .desc{
    bottom: 10px;
  }
  .content .form {
    vertical-align: top;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    text-align: center;
  }
  
  .content .form .form-body {
    font-size: 1.4rem;
  }
  
  .content .form .form-body .login {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    display: block;
  }
  
  .content .form .form-body form label {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
  }
  
  .content .form .form-body form .remember-me {
    margin: 1.5rem 0;
  }
  
  .content .form .form-body form .remember-me input {
    margin: 0 0.5rem 0 0;
  }
  
  .content .form .form-body form label.remember {
    display: inline;
  }
  
  .content .form .form-body form .email, .content .form .form-body form .password {
    margin:1rem;
    padding:0.5rem;
    border-radius: 0.4rem;
    height: 3rem;
    font-size: 1.4rem;
    width: 25rem;
    border: 0.1rem solid #ddd;
  }
  .email:focus, .password:focus{
    outline: none; 
  }
  
  .content .form .form-body form .signin {
    background-color: rgb(63, 118, 181);
    color: white;
    border: 0;
    padding: 1.2rem 6rem;
    font-size: 1.4rem;
    margin: 1.5rem 1rem;
    border-radius: 0.4rem;
  }
  .signin:hover{
    cursor: pointer;
  }
  .midTextdiv{
    margin-top : 30px;
    margin-bottom: -15px;
    text-align: center;
  }
  .midText{
    width: 100%;
    font-weight: bold;
  }
.create{
  text-decoration: none;
}
hr{
  margin: 20px;
  width: 500px;
}

/* Google Sign in Button */
.google-button{
  margin: 10px;
  border-radius: 10px;
  background: transparent ;
}
.google-button:hover{
  cursor: pointer;
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}